/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**
  BEGIN APP CSS
**/
* { box-sizing: border-box; }
html, body { min-height: 100%; }
body {
  /* background-color: #fcfcfc; */
  background: linear-gradient(#fcfcfc, #e3f3e1);
  color: #2f2f2f;
  font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.2;
}

.container {
  margin: 0 auto;
  max-width: 90rem;
  padding: 1rem;
  position: relative;
}
@media screen and (min-width: 33rem) {
  .container {
    padding: 4rem;
  }
}

/* COMPONENTS */
.button {
  display: block;
  border: 0;
  padding: 1rem;
  width: 100%;
  font-size: 1.25rem;
  border: 2px solid transparent;
  border-radius: .25rem;
  cursor: pointer;
  background-color: transparent;
}
.button--primary,
.button--secondary { min-width: 12rem; }
.button--primary {
  background-color: #5da152;
  border: 2px solid #5da152;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
  color: #fcfcfc;
  transition: background-color .125s, color .125s, box-shadow .125s, border-color .125s;
}
.button--primary:hover {
  box-shadow: 0px 4px 2px 0px rgba(0,0,0,0.2);
  background-color: #76b86d;
  border-color: #76b86d;
}
.button--primary:active {
  background-color: #fcfcfc;
  color: #5da152;
}
.button--secondary {
  border: 2px solid #5da152;
  color: #5da152;
  padding: .5rem;
}
.button--link {
  display: inline-block;
  padding: inherit;
  width: auto;
  font-size: 1rem;
  border: none;
  border-radius: 0;
  text-decoration: underline;
  color: #5da152;
}
.button--pill {
  min-width: auto;
  width: auto;
  border: 2px solid transparent;
  border-radius: 2rem;
  padding: .25rem;
  font-size: .75rem;
  background-color: #5da152;
  color: #fcfcfc;
}
.button--pill__hollow {
  min-width: auto;
  width: auto;
  border: 2px solid #5da152;
  border-radius: 2rem;
  padding: .25rem;
  font-size: .75rem;
  background-color: #fcfcfc;
  color: #5da152;
}

.card {
  background-color: #fcfcfc;
  border: 2px solid #e6e6e6;
  border-radius: .25rem;
  box-shadow: 0 2px 8px 1px rgba(0,0,0,0.2);
}

.filter__bar {
  position: sticky;
  border: 2px solid #e6e6e6;
  border-radius: .25rem;
  top: 1rem;
  background-color: #fcfcfc;
}

.issue__label {
  font-size: 1.25rem;
  font-weight: 700;
}
.issue__value {
  font-size: 2.5rem;
}

.textinput__label,
.textinput__input { display: block; width: 100%; }
.textinput__input {
  border: 2px solid #cccccc;
  border-radius: .25rem;
  font-size: 1rem;
  padding: 1rem;
}

.title1 { font-size: 2rem; }

/* UTILITY */
.u-mb-xs { margin-bottom: .5rem; }
.u-mb-sm { margin-bottom: 1rem; }
.u-mb-md { margin-bottom: 1.5rem; }
.u-mb-lg { margin-bottom: 2rem; }
.u-mb-xl { margin-bottom: 2.5rem; }

.u-mt-xs { margin-top: .5rem; }
.u-mt-sm { margin-top: 1rem; }
.u-mt-md { margin-top: 1.5rem; }
.u-mt-lg { margin-top: 2rem; }
.u-mt-xl { margin-top: 2.5rem; }

.u-pa-xs { padding: .5rem; }
.u-pa-sm { padding: 1rem; }
.u-pa-md { padding: 1.5rem; }
.u-pa-lg { padding: 2rem; }
.u-pa-xl { padding: 2.5rem; }

.u-pb-xs { padding-bottom: .5rem; }
.u-pb-sm { padding-bottom: 1rem; }
.u-pb-md { padding-bottom: 1.5rem; }
.u-pb-lg { padding-bottom: 2rem; }
.u-pb-xl { padding-bottom: 2.5rem; }

.u-pr-xs { padding-right: .5rem; }
.u-pr-sm { padding-right: 1rem; }
.u-pr-md { padding-right: 1.5rem; }
.u-pr-lg { padding-right: 2rem; }
.u-pr-xl { padding-right: 2.5rem; }

.text-center { text-align: center; }
.text-error { color: #cf2128 }
.text-right { text-align: right; }

.u-flex { display: flex; flex-wrap: wrap; }
.u-flex--row { flex-direction: row; }
.u-flex--space_between { justify-content: space-between; }
.u-flex--align_center { align-self: center; }
.u-flex--0 { flex: 0 }
.u-flex--1 { flex: 1 }
